@{
    ViewBag.Title = "XacNhan";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<br />
<br />
<br />
<h2 style="color:black">ĐƠN HÀNG CỦA QUÝ KHÁCH ĐƯỢC CHÚNG TÔI GHI NHẬN. CHÚNG TÔI SẼ LIÊN HỆ QUÝ KHÁCH TRONG THỜI GIAN SỚM NHẤT VÀ GIAO HÀNG ĐÚNG HẸN.</h2>
<div>
    <a href="@Url.Action("Index","Home")" class="btn btn-primary">Trở về trang chủ</a>
</div>
